body,
.ant-layout,
.ant-layout-footer {
  background-color: #f7fafc;
  font-weight: 500;
}

.ant-layout-header {
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

.ant-top-menu {
  line-height: 62px !important;
  text-align: center;
}

.ant-table-beawre .ant-table-tbody>tr {
  background-color: white;
  border: 6px solid #f7fafc;
  box-shadow: 0 0 0 4px #f5f5f5 inset;
}

.ant-table-beawre .ant-table-tbody h4 {
  color: #90a8be;
}

.ant-menu-header-icon {
  font-size: 1.6em !important;
  position: relative;
  top: 4px
}

.ant-menu-top-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9em;
}

.ant-table-column-title {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #90a8be;
  font-weight: bolder;
  background-color: transparent !important;
}

.ant-table-thead>tr>th {
  background: transparent !important;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  text-transform: uppercase;
}

h1:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 10px;
  bottom: -20px;
  left: 0%;
  border-bottom: 8px solid #edcd1f;
  margin-bottom: 20px;
}

.ant-btn {
  font-weight: 500 !important;
  text-shadow: none !important;
}

.ant-dropdown {
  background-color: white !important;
}

.ant-card {
  border-radius: 4px !important;
}

.ant-btn-primary {
  box-shadow: 0 3px 6px rgba(119, 141, 169, 0.5);
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  background-color: rgba(0, 0, 0, .025);
}

.sider {
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
  min-height: 100vh;
}

.ant-layout-side {
  background-color: #fff;
}

.ant-card-body {
  height: 100%
}

.ant-statistic-title {
  color: #90a8be !important;
}

.ant-statistic-title i {
  font-size: 1.8em
}

.ant-statistic-title p {
  margin-bottom: 0 !important;
}

.ant-statistic-content {
  font-weight: 100 !important;
}

.ant-statistic-content-suffix {
  color: rgba(0, 0, 0, .4)
}

.small-icon {
  width: 24px;
}